.container{
    background-color: white;
    border-top: 3px solid #0000ff;
    border-right: 6px solid #0000ff;
    border-bottom: 6px solid #0000ff;
    border-left: 6px solid #0000ff;
    margin: 7% 15% 15% 15%;
    height: 700px;
}